<head>
    <style>
        .label {
            font-weight: bold;
            color: black;
        }

        input::after {
            line-break: strict;
        }
    </style>
</head>

<body>
    <label class="label">Name:</label>
    <input type="text" name="name" />
    <br />
    <label class="label">Email:</label>
    <input type="email" name="email" />
    <br />
    <label class="label">Phone:</label>
    <input type="text" name="phone" />
</body>